body,
html {
    margin: 0;
    overflow-x: hidden;
    background: url("images/Background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.load {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

#dot {
    width: 0px;
    height: 5px;
    position: absolute;
    background: forestgreen;
    overflow: hidden;
}

#name {
    padding-top: 7rem;
    padding-left: 4rem;
}

#LearnMoreAboutMe {
    padding-top: 7rem;
    padding-left: 4rem;
}

#LearnMoreAboutMyProjects {
    padding-top: 7rem;
    padding-left: 4rem;
}

#leftSlide {
    padding-top: 7rem;
    padding-left: 4rem;
}

.bigText {
    font-size: 8vw;
    font-weight: bold;
}

#position {
    padding-top: 2rem;
    scale: 0.5;
}

#certificatesHeader {
    padding-top: 5rem;
    padding-left: 4rem;
}

#projectsHeader {
    padding-top: 5rem;
    padding-right: 4rem;
}

#test {
    float: right;
}

#newRow {
    margin-top: 2rem;
}

.certificateImage {
    height: 250px;
    width: 200px;
}

#phoneSimulator {
    display: block;
    margin: auto;
    scale: 0.8;
}

#mailzySimulator {
    display: block;
    margin: auto;
    float: right;
}

#siteSimulator {
    display: block;
    margin: auto;
    height: 340%;
    width: 100%;
    margin-left: 4%;
    padding-right: 4%;
}

#pageName {
    text-align: center;
}

#pageText {
    text-align: center;
}

area {
    cursor: pointer;
}

div.polaroid {
    max-width: 200px;
    min-width: 100px;
    margin: auto;
    width: 80%;
    height: auto;
    object-fit: cover;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
    text-align: center;
    padding: 10px 20px;
}


/* Media */

@media screen and (max-width: 768px) {
    #certificatesHeader {
        padding-left: 4rem;
    }
    .certificates {
        padding: 1rem;
    }
    #resume {
        height: 500px;
    }
    .carousel-item>img {
        height: 225px;
        max-height: 425px;
    }
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.88);
}

.certificates {
    padding: 4rem;
}

#contactForm {
    padding: 4rem;
}

#contactMe {
    padding: 4rem;
}

#letsTalk {
    padding: 4rem;
}

.customInput {
    background-color: rgba(255, 255, 255, 0.88) !important;
}

.customSubmit {
    background-color: #3bb49c !important;
}


/* The Modal (background) */

#id01 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 25;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

#id02 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 25;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content/Box */

#id01-content {
    background-color: rgba(255, 255, 255, 0.91) !important;
    margin: 5% auto 15% auto !important;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888 !important;
    width: 80% !important;
    /* Could be more or less, depending on screen size */
}

#id02-content {
    background-color: rgba(255, 255, 255, 0.91) !important;
    margin: 5% auto 15% auto !important;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888 !important;
    width: 80% !important;
    /* Could be more or less, depending on screen size */
}

#id01 .psw a {
    color: #3bb49c !important;
}

#id02 .psw a {
    color: #3bb49c !important;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s !important;
    animation: animatezoom 0.6s !important;
}


/* The Close Button (x) */

#id01 .psw a {
    color: #3bb49c !important;
}

span.psw {
    padding-top: 16px !important;
    float: right !important;
    width: 100% !important;
    text-align: center !important;
}

.close1 {
    position: absolute !important;
    right: 25px !important;
    top: 0 !important;
    color: rgb(151, 119, 119) !important;
    font-size: 35px !important;
    font-weight: bold !important;
}

.close1:hover,
.close1:focus {
    color: red;
    cursor: pointer;
}

#particles-js {
    width: 100%;
    height: 100%;
}

.alert {
    display: none;
    position: absolute;
    z-index: 11000;
    top: 110px;
    right: 0;
    margin: 10px;
    background-color: green;
}

.carousel-item>img {
    max-height: 350px;
}

.carousel {
    max-width: 600px;
}